.dashboard {
  display: grid;
  grid-template-areas:
    "header header"
    "side main";
  grid-template-columns: 280px auto;
  grid-template-rows: auto 1fr;
  height: 100svh;
  transition: grid-template-columns 0.5s;

  &.is-toggled {
    grid-template-columns: 0px auto;
  }

  > .header {
    grid-area: header;
    z-index: 1;
  }

  > .main {
    grid-area: main;
    z-index: 1;
    overflow-y: auto;
    padding: 24px;
  }

  > .side {
    grid-area: side;
    display: grid;
    grid-template-columns: minmax(max-content, auto);
    grid-template-rows: auto 1fr;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 16px;
  }

  @media (width <= 768px) {
    grid-template-columns: 0% auto;
    overflow-x: hidden;

    &.is-toggled {
      grid-template-columns: 100% auto;
    }

    > .main {
      min-width: 320px;
    }
  }
}

.datacards-bento {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  container-type: inline-size;

  > * {
    grid-column: 1 / -1;
  }

  @container (width >= 480px) {
    > .type-a {
      grid-column: span 6;
    }
  }

  @container (width >= 960px) {
    > .type-a {
      grid-column: span 3;
    }

    > .type-b {
      grid-column: span 7;
      grid-row: span 3;
    }

    > .type-c {
      grid-column: span 5;
    }

    > .type-d {
      grid-column: span 6;
    }
  }
}
