/*=============================================================================
  記事一覧
=============================================================================*/

section {
  grid-area: recent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: var(--space-l);
  column-gap: var(--space-m);

  /* 画面幅が768px以上なら */
  @media (width >= 768px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    column-gap: var(--space-l);
  }

  a {
    color: var(--kurohairo);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    border-radius: var(--radius-m);  /* 角を丸くする */
  }

  article:not(.link.disable) img {
    /* box-shadow: h-offset v-offset blur-radius spread-radius color inset; */
    box-shadow: var(--shadow-soft);
    /* 影をつける */
    &:hover {  /* マウスカーソルを重ねたときに */
      scale: 1.1;  /* 少し拡大する */
      transition: all var(--transition-normal) ease-in-out 0s;
      /* 全てのプロパティを、0.5秒、ゆっくり開始し、速度を上げた後、再び速度を遅く変化させる。遅延時間は0秒(直ちに変化する) */
      /* transition: プロパティ 継続時間 タイミング関数(中間状態をどう変化させるか) 遅延時間; */
    }
  }

  h2 {
    grid-column: 1 / -1;
    font-family: "Yuji Boku", serif;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: var(--kurohairo);
  }

  h3 {
    font-size: 14px;
    margin-block-start: var(--space-m);

    /* 疑似要素を使った装飾 */
    &::before {
      content: "▼";
      color: var(--nanohanairo);
    }

    &::after {
      content: "▲";
      color: var(--utsushiiro);
    }
  }
}
