/*=====================================================================
  テキストの配置や大きさ指定など（work3 用、glow.text を含む）
=====================================================================*/

/* リードテキストや見出しなど */
.title {
  position: relative;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 14px rgba(0, 0, 0, .1);
  text-align: center;
  font-weight: normal;

  &::before,
  &::after {
    position: absolute;
    inset-inline-start: 0;
    width: 100%;
    height: 4px;
    content: '';
    background-image: linear-gradient(135deg,
                                      #704308 0%,
                                      #ffce08 40%,
                                      #e1ce08 60%,
                                      #704308 100%);
  }

  &::before { inset-block-start: 0; }
  &::after  { inset-block-end: 0; }
}

/* 文字を光りながら出現させるためのCSS */
.glow.text {
  span {
    /* 初期値は透明 */
    opacity: 0;
  }

  &.shine span {
    /* アニメーションで透過度を0から1に変化させ、text-shadowをつける */
    animation: glow_anime_on 1s ease-out forwards;
  }
}

@keyframes glow_anime_on {
    0% { opacity:0; text-shadow: 0 0    0 #fff, 0 0    0 #fff; }
   50% { opacity:1; text-shadow: 0 0 10px #fff, 0 0 15px #fff; }
  100% { opacity:1; text-shadow: 0 0    0 #fff, 0 0    0 #fff; }
}
