.cards-bento {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  gap: 20px;
  container-type: inline-size;

  @container (width >= 580px) {
    .large {
      grid-column: span 2;
      grid-row: span 2;
    }

    .medium {
      grid-column: span 1;
      grid-row: span 2;
    }
  }

  @container (width >= 1180px) {
    .large {
      grid-column: span 3;
      grid-row: span 2;
    }
  }
}
