.pancake {
  display: grid;
  grid-template-columns: minmax(0, auto);
  grid-template-rows: auto 1fr auto;
  min-height: 100svh;

  > .main {
    justify-self: center;
    width: 100%;
    max-width: 672px;
    padding: 16px 16px 80px;
  }
}
