/*=============================================================================
  個々のスタイルシートを読み込み束ねる
=============================================================================*/

/* 日本の伝統色 和の色
-----------------------------------------------*/
@import "_colors.css";
@import "_design_tokens.css";

/* ページ全体の部品配置
-----------------------------------------------*/
@import "_layout.css";

/* ヘッダー
-----------------------------------------------*/
@import "_header.css";

/* ナビゲーションメニュー
-----------------------------------------------*/
@import "_navigation.css";

/* ヒーローイメージ
-----------------------------------------------*/
@import "_hero.css";

/* タイトル
-----------------------------------------------*/
@import "_title.css";

/* サブタイトル
-----------------------------------------------*/
@import "_sub_title.css";

/* 記事一覧
-----------------------------------------------*/
@import "_recent.css";

/* フッター
-----------------------------------------------*/
@import "_footer.css";

@import "_text.css";
@import "_button.css";
@import "_page_top.css";
@import "_smooth_scroll.css";
@import "_utility.css";
