.header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: column;
  gap: 8px;
  align-items: center;
  padding: 16px;

  .action,
  .nav a {
    padding: 12px;
  }
}

/* ヘッダー関連 */
/* ロゴ画像 */
.logo img {
  width: 48px;
  height: 48px;

  @media (width <=700px) {
    width: 32px;
    height: 32px;
  }
}

/* サイト名 */
.site {
  font-size: 20px;
  font-weight: bold;

  @media (width <=700px) {
    font-size: 16px;
  }
}

/* アクションボタン */
.action > svg {
  width: 24px;
  height: 24px;

  @media (width <=700px) {
    width: 20px;
    height: 20px;
  }
}

/* ナビゲーションメニュー */
.nav {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
  justify-content: start;
}

/* 検索フォーム */
.search {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  align-items: center;

  > button {
    grid-column: 1;
    grid-row: 1;
  }

  > input {
    grid-column: 1 / -1;
    grid-row: 1;
    max-width: 240px;
    padding-block: 8px;
    padding-left: 48px;
    background-color: var(--light-blue-gray);
    border: none;
  }
}

/* ボタン */
.btn-accent {
  margin-block-end: 16px;
  padding: 16px 40px;
  color: black;
  background-color: var(--color-accent);
  border-radius: 8px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
}

.btn-small {
  padding: 4px 12px;
  font-size: 14px;
  color: white;
  background-color: black;
  border: solid 1px black;
  border-radius: 4px;

  @media (width <=600px) {
    font-size: 10px;
  }
}

.btn-small-outline {
  padding: 4px 12px;
  font-size: 14px;
  color: black;
  background-color: transparent;
  border: solid 1px black;
  border-radius: 4px;

  @media (width <=600px) {
    font-size: 10px;
  }
}

.horizontal {
  display: grid;
  grid-auto-flow: column;
  gap: 24px;
  justify-content: start;
}

.section-01 {
  display: grid;
  grid-template-areas:
    "heading"
    "text"
    "button"
    "."
    "photo";
  grid-template-rows: repeat(4, auto) 480px;
  row-gap: 24px;
  justify-items: center;
  text-align: center;

  > .heading {
    grid-area: heading;
  }

  > .text {
    grid-area: text;
  }

  > .button {
    grid-area: button;
  }

  > .photo {
    grid-area: photo;
  }

  > :is(.heading, .text, .button, .photo) {
    grid-column: 2 / -2;
  }
}

.section-02-image {
  display: grid;
  grid-template-areas:
    ". photo"
    "heading photo"
    "text photo"
    "button photo"
    ". photo";
  grid-template-columns: 3fr 4fr;
  grid-template-rows: 1fr repeat(3, auto) 1fr;
  column-gap: 48px;
  row-gap: 24px;

  > .photo {
    height: auto !important;
  }

  @media (width <= 768px) {
    grid-template-areas:
      "photo"
      "heading"
      "text"
      "button";
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
  }

  > .heading {
    grid-area: heading;
  }

  > .text {
    grid-area: text;
  }

  > .button {
    grid-area: button;
  }

  > .photo {
    grid-area: photo;
  }
}

.section-02-image-reverse {
  display: grid;
  grid-template-areas:
    "photo ."
    "photo heading"
    "photo text"
    "photo button"
    "photo .";
  grid-template-columns: 4fr 3fr;
  grid-template-rows: 1fr repeat(3, auto) 1fr;
  column-gap: 48px;
  row-gap: 24px;

  > .photo {
    height: auto !important;
  }

  @media (width <= 768px) {
    grid-template-areas:
      "photo"
      "heading"
      "text"
      "button";
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
  }

  > .heading {
    grid-area: heading;
  }

  > .text {
    grid-area: text;
  }

  > .button {
    grid-area: button;
  }

  > .photo {
    grid-area: photo;
  }
}

.section-03-align {
  display: grid;
  grid-template-areas:
    ". . ."
    ". heading ."
    ". text ."
    ". button ."
    ". . .";
  grid-template-columns: 40px auto 40px;
  grid-template-rows: 140px repeat(3, auto) 40px;
  row-gap: 24px;
  justify-items: start;
  color: white;
  text-align: left;

  > .photo {
    height: 0 !important;
    min-height: 100% !important;
  }

  > .heading {
    grid-area: heading;
  }

  > .text {
    grid-area: text;
  }

  > .button {
    grid-area: button;
  }

  > .photo {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: -1;
    filter: brightness(0.5);
  }
}

/* セクション */
[class^="section-"] {
  /* セクション内の上下の余白 */
  padding-block: 96px;

  &[class^="section-01"] + [class^="section-02"] {
    padding-block-start: 112px;
  }

  &[class^="section-02"] + [class^="section-02"] {
    padding-block-start: 0;
  }

  /* 横並びセクションのカスタマイズ（ランディングページ用） */
  &[class^="section-02"].lp-style {
    grid-template-rows: 1fr repeat(3, auto) 2fr;

    @media (width <= 768px) {
      grid-template-rows: repeat(4, auto);
    }
  }

  /* 重ね合わせセクションのカスタマイズ（ランディングページ用） */
  &[class^="section-03"].lp-style {
    grid-template-rows: 160px repeat(3, auto) 112px;
    padding-block: 0;
    color: black;

    .photo {
      filter: none;
      object-position: right center;
      border-radius: 0;
    }

    @media (width <= 768px) {
      text-shadow: 0 0 10px white;

      .photo {
        opacity: 0.5;
      }
    }
  }

  /* セクション内の見出し、文章、ボタン、画像のスタイル */
  .heading {
    font-size: min(32px, 6vw);
    font-weight: bold;
    line-height: 1.4;
  }

  h1.heading {
    font-size: min(48px, 6vw);
  }

  .text {
    max-width: 26em;
    font-size: min(16px, 3.5vw);
  }

  .button {
    max-width: 300px;
    padding: 16px 40px;
    font-size: min(16px, 3.5vw);
    color: black;
    background-color: var(--color-accent);
    border-radius: 4px;
  }

  .photo {
    border-radius: 8px;
  }
}

/* カード */
[class^="card-"] {
  /* カードの形状 */
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px -1px rgb(0 0 0 / 20%);

  /* カード内のタイトル、サブタイトル、アバターのスタイル */
  .title {
    font-size: 14px;
    font-weight: bold;
  }

  .subtitle {
    font-size: 10px;
  }

  .avatar img {
    width: 32px;
    height: 32px;
    background-color: #f1f5f9;
    border: solid 1px #cbd5e1;
    border-radius: 50%;
    object-fit: cover;
  }
}

/* データカード */
[class^="datacard-"] {
  /* カードの形状 */
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 8px -1px rgb(0 0 0 / 20%);

  /* カード内のタイトル、サブタイトル、データ、アイコンのスタイル */
  .title {
    font-size: 14px;
    font-weight: bold;
    color: #727272;
  }

  .subtitle {
    font-size: 12px;
  }

  .data {
    font-size: 28px;
    font-weight: 500;

    &.text-small {
      font-size: 16px;
    }
  }

  .icon {
    color: #64748b;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

/* フッターバー */
.bar {
  padding: 16px;
  color: white;
  background-color: var(--dark-blue-gray);

  /* 横並びメニューをカスタマイズ */
  &.horizontal {
    justify-content: center;

    svg {
      fill: white;
    }
  }
}

/* ===========================
 * ダッシュボード
 * =========================== */

.dark-bar {
  color: white;
  background-color: var(--dark-blue-gray);

  h2 {
    margin: 20px 12px;
    font-size: 18px;
    color: #cbd5e1;
  }

  .menu-vertical {
    .current {
      background-color: rgb(255 255 255 / 10%);
    }

    :hover {
      background-color: rgb(255 255 255 / 20%);
    }
  }

  .profile {
    padding: 8px 4px;

    img {
      width: 48px;
      height: 48px;
      background-color: #f1f5f9;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

/* ===========================
 * チャット
 * =========================== */

.chat {
  .avatar {
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
    background: #f1f5f9;
    border: solid 2px #cbd5e1;
    border-radius: 50%;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .form {
    svg {
      width: 16px;
      height: 16px;
    }
  }
}
