.fullbleed {
  display: grid;
  grid-template-columns: minmax(16px, 1fr) min(1120px, calc(100% - 32px)) minmax(16px, 1fr);

  > * {
    grid-column: 1 / -1;
  }

  > .main {
    display: grid;
    grid-template-columns: subgrid;

    > * {
      grid-column: 2 / -2;
    }

    > .section-01 {
      grid-column: 1 / -1;
      grid-template-columns: subgrid;
      position: relative;

      > * {
        grid-column: 2 / -2;
      }

      > .decoration {
        justify-self: center;
        align-self: end;
        position: absolute;
        transform: translateY(50%);
      }
    }

    > .section-03-align {
      grid-column: 1 / -1;
      grid-template-columns: subgrid;
    }
  }
}
