/*=====================================================================
  wave-studio work2 用スタイルシート
=====================================================================*/

/* 色の指定 CSSカスタムプロパティを定義 */
:root {
  --kyohiiro:          #ff251e;
  --shinonomeiro:      #f19072;
  --nanohanairo:       #ffec47;
  --sanaeiro:          #67a70c;
  --amairo:            #2ca9e1;
  --utsushiiro:        #3d6eda;
  --botaniro:          #e7609e;
  --ayameiro:          #674196;
  --sakurairo:         #fef4f4;
  --momijiiro:         #a61017;
  --nibiiro:           #9ea1a3;
  --kurohairo:         #0d0d0d;

  --space-s:           4px;
  --space-m:           10px;
  --space-l:           20px;
  --space-xl:          30px;

  --shadow-soft:       3px 3px 5px var(--amairo);
}

/* 基本設定(リセットCSS) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

/* ページ全体の設定 */
body {
  display: grid;
  grid-template:
    ".    head .   " 100px
    "main main main" auto
    "foot foot foot" 140px /
    20px  1fr  20px;
  row-gap: var(--space-l);

  font-family: "Helvetica Neue",
               Arial,
               "Hiragino Kaku Gotic ProN",
               "Hiragino Sans",
               Meiryo,
               sans-serif;

  background: linear-gradient(to top,
                              #FFFFFF80,
                              #6DD5FA40,
                              #2980B980);

  height: 100vh;
}

body main {
  grid-area: main;
  display: grid;
  grid-template:
    ".    title  .   " auto
    ".    sub    .   " auto
    ".    recent .   " auto /
    20px  1fr    20px;
  row-gap: var(--space-l);
}

/* ヘッダー */
header  {
  grid-area: head;
  justify-self: center;
  align-self: center;
  font-family: "Yuji Boku", serif;
  font-size: clamp(48px, 12vw, 54px);
  color: transparent;
  background: repeating-linear-gradient(45deg,
    #e60012 0.1em 0.2em,
    #f39800 0.2em 0.3em,
    #fff100 0.3em 0.4em,
    #009944 0.4em 0.5em,
    #0068B7 0.5em 0.6em,
    #1d2088 0.7em 0.8em,
    #cfa7cd 0.8em 0.9em);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  letter-spacing: 10px;
}

header a {
  color: inherit;
  text-decoration: none;
}

/* ナビゲーションメニュー */
nav {
  grid-area: head;
  justify-self: center;
  align-self: end;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  margin: 0;
}

nav a {
  color: var(--kurohairo);
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}

nav a:hover {
  color: var(--shinonomeiro);
}

/* ヒーローイメージ */
figure.hero {
  grid-column: 1 / -1;
  grid-row: 1 / span 2;
}

figure.hero img {
  height: calc(100vh - 100px);
  object-fit: cover;
  filter: brightness(80%);
  z-index: -1;
  position: relative;
}

/* タイトル（キャッチフレーズ） */
h1.catch_phrase {
  grid-area: title;
  justify-self: center;
  align-self: center;
  color: var(--sakurairo);
  font-size: clamp(32px, 5vw, 50px);
  font-weight: normal;
  line-height: 1.2;
  text-shadow: 0 0 5px var(--nibiiro);
  text-align: center;
  font-family: "Yuji Boku", serif;
}

/* サブタイトル */
p.sub_title {
  grid-area: sub;
  text-align: center;
}

p.sub_title a {
  display: inline-block;
  margin-top: var(--space-m);
  color: var(--sakurairo);
  text-decoration: none;
  border: solid 1px var(--sakurairo);
  padding-block: var(--space-m);
  padding-inline: 40px;
  border-radius: 10px;
  background: linear-gradient(45deg, var(--amairo), var(--utsushiiro));
  transition: all 0.5s ease-in-out;
}

p.sub_title a:hover {
  background: var(--shinonomeiro);
  transform: scale(1.1) rotate(-3deg);
}

p.sub_title img {
  width: 250px;
  height: auto;
  margin-inline: auto;
}

/* 記事一覧 */
section#recent {
  grid-area: recent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: var(--space-l);
  column-gap: var(--space-m);
}

section#recent a {
  color: var(--kurohairo);
  text-decoration: none;
}

section#recent a:hover {
  text-decoration: underline;
}

section#recent img {
  border-radius: 10px;
}

section#recent article:not(.link.disable) img {
  box-shadow: var(--shadow-soft);
  transition: transform 0.5s ease-in-out;
}

section#recent article:not(.link.disable) img:hover {
  transform: scale(1.1);
}

section#recent h2 {
  grid-column: 1 / -1;
  font-family: "Yuji Boku", serif;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: var(--kurohairo);
}

section#recent h3 {
  font-size: 14px;
  margin-block-start: var(--space-m);
}

section#recent h3::before {
  content: "▼";
  color: var(--nanohanairo);
}

section#recent h3::after {
  content: "▲";
  color: var(--utsushiiro);
}

/* フッター */
footer {
  grid-area: foot;
  justify-self: center;
  align-self: center;
  background: url("images/beach_waves.webp") 75% 75%;
  background-size: cover;
  width: 100vw;
  display: grid;
  grid-template:
      "address"   auto
      "copyright" auto /
       1fr;
  line-height: 1.75;
  text-align: center;
}

footer address {
  grid-area: address;
  align-self: center;
}

footer address .company_name,
footer address .address,
footer address .tel,
footer address .email {
  text-shadow: 1px  1px 3px var(--sakurairo),
               1px -1px 3px var(--sakurairo),
              -1px  1px 3px var(--sakurairo),
              -1px -1px 3px var(--sakurairo);
}

footer address .company_name {
  font-size: larger;
  color: var(--utsushiiro);
}

footer address .address,
footer address .tel,
footer address .email {
  font-size: medium;
  color: var(--kurohairo);
}

footer address .address a,
footer address .tel a,
footer address .email a {
  text-decoration: none;
  color: inherit;
}

footer .copyright {
  background: var(--kurohairo);
  color: var(--sakurairo);
  font-size: 12px;
}

@media (width >= 768px) {
  section#recent {
    grid-template-columns: repeat(3, 1fr);
  }
}
