/*=============================================================================
  ヒーローイメージ
=============================================================================*/
.hero {
  position: relative;
  overflow: hidden;
  grid-column: 1 / -1;
  grid-row: 1 / span 2;
  min-height: 100vh;
  margin-block-start: calc(-100px - var(--space-l)); /* ヘッダー + 行間分だけ上に引き上げて、背景の帯を隠す */

  pointer-events: none; /* 背景レイヤーをクリック不可にして前面要素を操作可能に */

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
    z-index: -1;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }

  img.is-active {
    opacity: 1;
  }

  /* 画面幅が768px以上なら */
  @media (width >= 768px) {
    grid-row: 1;
    margin-block-start: calc(-100px - var(--space-l));

    img {
      width: 100vw;
      height: 100%;
    }
  }
}
