/*=====================================================================
  海の思い出（Swiper を使ったスライドショー）
=====================================================================*/
.sea {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px 10px;
  padding-bottom: 20px;

  @media (width >= 768px) {
    column-gap: 20px;
  }

  h2 {
    grid-column: 1 / -1;
    grid-row: 1;
  }
  p {
    grid-column: 1 / -1;
    grid-row: 2;
  }
  .swiper {
    grid-column: 1 / -1;
    grid-row: 3;
  }
  h3 {
    font-size: 16px;
    padding-bottom: 20px;
  }
}

.swiper {
  width: 100%;
  height: auto;

  .swiper-button-prev,
  .swiper-button-next {
    color: white !important;
  }

  .swiper-pagination {
    margin-bottom: -10px;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}
