.header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: column;
  gap: 8px;
  align-items: center;
  padding: 16px;

  .action,
  .nav a {
    padding: 12px;
  }
}

.horizontal {
  display: grid;
  grid-auto-flow: column;
  gap: 24px;
  justify-content: start;
}

@media (width > 768px) {
  .menu-vertical {
    display: grid;
    gap: 16px;
    align-content: start;

    a {
      padding: 8px 12px;
      border-radius: 8px;

      &.current {
        background-color: #f1f5f9;
      }

      &:hover {
        background-color: #e2e8f0;
      }
    }

    .with-icon-vertical {
      justify-items: center;
      font-size: 12px;
      display: grid;
    }

    .with-icon-auto {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-auto-flow: column;
      gap: 16px;
      align-items: center;
    }
  }
}

@media (width <= 768px) {
  .menu-horizontal {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 2px;
    justify-content: start;

    a {
      padding: 8px;
      border-radius: 8px;

      &.current {
        background-color: #f1f5f9;
      }

      &:hover {
        background-color: #e2e8f0;
      }
    }

    .with-icon-vertical {
      justify-items: center;
      font-size: 12px;
      display: grid;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.card-01 {
  display: grid;
  grid-template:
    "photo photo photo photo photo" 1fr
    ". . . . ." 8px
    ". avatar . title ." auto
    ". avatar . subtitle ." auto
    ". . . . ." 8px
    / 8px auto 8px 1fr 8px;
  height: 200px;

  > .photo {
    height: 0;
    min-height: 100%;
  }

  > .photo {
    grid-area: photo;
  }

  > .title {
    grid-area: title;
  }

  > .subtitle {
    grid-area: subtitle;
  }

  > .avatar {
    grid-area: avatar;
    align-self: center;
  }
}

/* ヘッダー関連 */
/* ロゴ画像 */
.logo img {
  width: 48px;
  height: 48px;

  @media (width <=700px) {
    width: 32px;
    height: 32px;
  }
}

/* サイト名 */
.site {
  font-size: 20px;
  font-weight: bold;

  @media (width <=700px) {
    font-size: 16px;
  }
}

/* アクションボタン */
.action > svg {
  width: 24px;
  height: 24px;

  @media (width <=700px) {
    width: 20px;
    height: 20px;
  }
}

/* ナビゲーションメニュー */
.nav {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
  justify-content: start;
}

/* 検索フォーム */
.search {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  align-items: center;

  > button {
    grid-column: 1;
    grid-row: 1;
  }

  > input {
    grid-column: 1 / -1;
    grid-row: 1;
    max-width: 240px;
    padding-block: 8px;
    padding-left: 48px;
    background-color: var(--light-blue-gray);
    border: none;
  }
}

/* ボタン */
.btn-accent {
  margin-block-end: 16px;
  padding: 16px 40px;
  color: black;
  background-color: var(--color-accent);
  border-radius: 8px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
}

.btn-small {
  padding: 4px 12px;
  font-size: 14px;
  color: white;
  background-color: black;
  border: solid 1px black;
  border-radius: 4px;

  @media (width <=600px) {
    font-size: 10px;
  }
}

.btn-small-outline {
  padding: 4px 12px;
  font-size: 14px;
  color: black;
  background-color: transparent;
  border: solid 1px black;
  border-radius: 4px;

  @media (width <=600px) {
    font-size: 10px;
  }
}

/* セクション */
[class^="section-"] {
  /* セクション内の上下の余白 */
  padding-block: 96px;

  &[class^="section-01"] + [class^="section-02"] {
    padding-block-start: 112px;
  }

  &[class^="section-02"] + [class^="section-02"] {
    padding-block-start: 0;
  }

  /* 横並びセクションのカスタマイズ（ランディングページ用） */
  &[class^="section-02"].lp-style {
    grid-template-rows: 1fr repeat(3, auto) 2fr;

    @media (width <= 768px) {
      grid-template-rows: repeat(4, auto);
    }
  }

  /* 重ね合わせセクションのカスタマイズ（ランディングページ用） */
  &[class^="section-03"].lp-style {
    grid-template-rows: 160px repeat(3, auto) 112px;
    padding-block: 0;
    color: black;

    .photo {
      filter: none;
      object-position: right center;
      border-radius: 0;
    }

    @media (width <= 768px) {
      text-shadow: 0 0 10px white;

      .photo {
        opacity: 0.5;
      }
    }
  }

  /* セクション内の見出し、文章、ボタン、画像のスタイル */
  .heading {
    font-size: min(32px, 6vw);
    font-weight: bold;
    line-height: 1.4;
  }

  h1.heading {
    font-size: min(48px, 6vw);
  }

  .text {
    max-width: 26em;
    font-size: min(16px, 3.5vw);
  }

  .button {
    max-width: 300px;
    padding: 16px 40px;
    font-size: min(16px, 3.5vw);
    color: black;
    background-color: var(--color-accent);
    border-radius: 4px;
  }

  .photo {
    border-radius: 8px;
  }
}

/* カード */
[class^="card-"] {
  /* カードの形状 */
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px -1px rgb(0 0 0 / 20%);

  /* カード内のタイトル、サブタイトル、アバターのスタイル */
  .title {
    font-size: 14px;
    font-weight: bold;
  }

  .subtitle {
    font-size: 10px;
  }

  .avatar img {
    width: 32px;
    height: 32px;
    background-color: #f1f5f9;
    border: solid 1px #cbd5e1;
    border-radius: 50%;
    object-fit: cover;
  }
}

/* データカード */
[class^="datacard-"] {
  /* カードの形状 */
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 8px -1px rgb(0 0 0 / 20%);

  /* カード内のタイトル、サブタイトル、データ、アイコンのスタイル */
  .title {
    font-size: 14px;
    font-weight: bold;
    color: #727272;
  }

  .subtitle {
    font-size: 12px;
  }

  .data {
    font-size: 28px;
    font-weight: 500;

    &.text-small {
      font-size: 16px;
    }
  }

  .icon {
    color: #64748b;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

/* フッターバー */
.bar {
  padding: 16px;
  color: white;
  background-color: var(--dark-blue-gray);

  /* 横並びメニューをカスタマイズ */
  &.horizontal {
    justify-content: center;

    svg {
      fill: white;
    }
  }
}

/* ===========================
 * ダッシュボード
 * =========================== */

.dark-bar {
  color: white;
  background-color: var(--dark-blue-gray);

  h2 {
    margin: 20px 12px;
    font-size: 18px;
    color: #cbd5e1;
  }

  .menu-vertical {
    .current {
      background-color: rgb(255 255 255 / 10%);
    }

    :hover {
      background-color: rgb(255 255 255 / 20%);
    }
  }

  .profile {
    padding: 8px 4px;

    img {
      width: 48px;
      height: 48px;
      background-color: #f1f5f9;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

/* ===========================
 * チャット
 * =========================== */

.chat {
  .avatar {
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
    background: #f1f5f9;
    border: solid 2px #cbd5e1;
    border-radius: 50%;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .form {
    svg {
      width: 16px;
      height: 16px;
    }
  }
}
